html, body { height: 100%; }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: url(images/background.png);
	padding: 0px;
	margin: 0px;
	font-family:Arial, Helvetica, sans-serif; 
	font-size: 14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link, a:visited, a:active {text-decoration: none; outline:none; }
a:hover { text-decoration: none; }
h1, h2, h3, h4, p { margin:0 0 15px 0; padding:0; }
h1 { font-size:36px; font-weight:normal; font-family:'DroidSansBold', sans-serif; letter-spacing:-1px; color:#333; }
h2 { font-size:28px; font-weight:normal; font-family:'DroidSansRegular', sans-serif; letter-spacing:-1px; color:#333; padding:15px 0 0 0; }
h3 { font-size:22px; font-weight:normal; font-family:'DroidSansRegular', sans-serif;padding:15px 0 0 0; }
h4 { font-size:16px; font-weight:bold; font-family:'DroidSansBold', sans-serif; padding:19px 0 0 0; }
p { line-height:1.5em }
/* float clearing for IE6 */
* html .clearfix{ height: 1%; overflow: visible;}
/* float clearing for IE7 */
*+html .clearfix{ min-height: 1%;}
/* float clearing for everyone else */
.clearfix:after{ clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0;}
#header {
height: 50px;
margin: 0px;
padding: 0;
background: #000000;
}

#top-header {
width: 976px;
margin:0 auto;
padding: 0;
}
#top-header .natak_logo {
width: 135px;
height: 34px;
margin: 0;
/* padding: 0 22px 0 8px; */
float: left;
color:white;
text-indent: -9999px;
overflow: hidden;
background: url(images/logo.png) no-repeat;
margin-top : 6px;
/*background: url(../images/iconic-logo.png) center no-repeat;*/
}
#top-header .natak_logo a {
	display : block;
	height: 100%;
	
}
#top-header .login {
float: right;
display: inline-block;
height: 50px;
padding: 0 8px 0 22px;
color: white;
}
#banner {
margin: 0 auto;
width: 976px;
height : 350px;
}
#main-banner {
margin-top: 20px;
margin-bottom: 10px;
/* padding: 7px;
border:1px solid; */
}
#main-banner .banner-image {
	position : relative;
	/*width: 683px;*/
	float: left;
	width: 976px;
	/* border:1px solid; */
	height:265px;
	margin-right: 16px;
}
#main-banner .banner-image .nav {
	position: absolute;
	width: 100%;
	z-index: 10;
	margin-top: 111px;
}
#main-banner .banner-image .nav #prev2 {
	background : url(images/arrow_left.png);
	text-indent : -99999px;
}
#main-banner .banner-image .nav #next2 {
	float: right;
	background : url(images/arrow_right.png);
	text-indent : -99999px;
}
#main-banner .search-region {
/* margin-left:630px; */
/* border:1px solid red; */
height:294px;
}
#content {
margin: 0 auto;
width: 976px;
clear: both;
}
#shows {
border:1px solid;
height: auto;
/* padding: 5px; */
}
#content .top-shows {
width: 330px;
/* margin-right: 10px; */
float: left;
border:1px solid;
padding : 0 8px;
margin-top : 10px;
}
#content .featured-shows {
/* margin-left: 340px; */
border:1px solid;
float:right;
width : 616px;
/* Temporary Purpose*/
/*height : 431px;*/
margin-top : 10px;
}
.back-color{
	background:white;
}
.banner-image img {
	/*width: 683px;*/
	width: 976px;
	/*height:265px;*/
	height:350px;
}
.back-color .title h3{
	padding-left : 6px;
	color: #0088CC;
    font-weight: bold;
}
.top-shows .slide-flow  .left-bullet{
	float: left;
	width: 5px;
	height: 25px;
	margin: 13px 16px 0 0;
	padding: 0;
	font-weight: bold;
	font-size: 17px;
	padding-left : 6px
}
.top-shows .slide-flow  .right-text{
	width: 300px;
	font: 14px/20px 'droidsans-webfont';
	padding: 5px 0 0 0;
	margin: 0;
	float: left;
	border-top : #dedede 1px solid;
}
.top-shows .slide-flow  .last{ 
	border-bottom : #dedede 1px solid;
}
.top-shows .slide-flow  .right-text a{

	width: 100%;
	font: 14px/20px 'droidsans-webfont';
	padding: 5px 0;
	margin: 0;
	float: left;
	color : #000;
	font-weight: bold;
}
.top-shows .slide-flow  .right-text p{
	font-size: 11px;
}
.top-shows .slide-flow  a {
	font: 18px/17px 'droidsans-webfont';
	padding: 15px 0 5px 15px;
	float: left;
	text-decoration: none;
	color : #0088CC;
}

/** CSS For search-filter **/
#search-filter , #search-filter ul{
	float: left;
	height: 30px;
}
#search-filter li {
	float : left;
	margin: 11px 32px 0 11px;
}
#search-filter li a{
	float : left;
	color:#0088CC;
	font-size:14px;
	font-weight:bold;
}
.search-region #search-category {
	margin-top: 9px;
	border-top: #0088CC 2px solid;
	float: left;
	width: 270px;
}
.search-region #search-category p{
	float:left;
	font-size:14px;
	font-weight:bold;
	margin:18px 0 0 30px;
}
.search-region #search-category #search-filters{
	float: right;
    margin: 13px 67px 0 0;
}
/** CSS For search-fliter Ends Here**/
































































/** CSS For Slideshow **/

.ss2_wrapper { position:relative; width:900px; height:400px; margin:0 0 20px 0; overflow:hidden; }
.ss2_wrapper .slideshow { position:relative; width:900px; height:400px; }
	
	.ss2_wrapper .slideshow_item { width:900px; height:400px; }
	.ss2_wrapper .slideshow_item .data { display:none; }	
	
	.ss2_wrapper a.slideshow_prev { position:absolute; left:-40px; top:160px; z-index:10; width:40px; height:46px; outline:none; background:url(images/trans-black-70.png); -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-shadow: 0 0 2px #222; -webkit-box-shadow: 0 0 2px #222; box-shadow: 0 0 2px #222;  }
		.ss2_wrapper a.slideshow_prev:hover { background:#000; }
		.ss2_wrapper a.slideshow_prev span { display:block; width:40px; height:46px; background:url(images/arrows.png) no-repeat -55px 50%; text-indent:-9999px; }
		
	.ss2_wrapper a.slideshow_next { position:absolute; right:-40px; top:160px; z-index:10; width:40px; height:46px; outline:none; background:url(images/trans-black-70.png); -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-shadow: 0 0 2px #222; -webkit-box-shadow: 0 0 2px #222; box-shadow: 0 0 2px #222;  }
		.ss2_wrapper a.slideshow_next:hover { background:#000; }
		.ss2_wrapper a.slideshow_next span { display:block; width:40px; height:46px; background:url(images/arrows.png) no-repeat -5px 50%; text-indent:-9999px; }
	
	.ss2_wrapper .slideshow_paging { position:absolute; top:10px; /* right:10px; */ z-index:11; font-size:12px; padding:3px 2px; background:url(images/trans-black-70.png); -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; -moz-box-shadow: 0 0 2px #222; -webkit-box-shadow: 0 0 2px #222; box-shadow: 0 0 2px #222; }
		.ss2_wrapper .slideshow_paging a { display:block; float:left; margin:0 1px; padding:3px 7px; color:#ccc; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
			.ss2_wrapper .slideshow_paging a:hover { color:#fff }
			.ss2_wrapper .slideshow_paging a.activeSlide { background:#eee; color:#222 }
	
	.ss2_wrapper .slideshow_box { position:absolute; left:0; bottom:0; background:url(images/trans-black-70.png); width:100%; height:110px; z-index:10;  }
		.ss2_wrapper .slideshow_box .data { padding:15px 20px; color:#ccc;  }
		.ss2_wrapper .slideshow_box .data h4 { color:#fff; font:bold 20px arial, sans-serif; padding:0; margin:0 0 10px 0; }
		.ss2_wrapper .slideshow_box .data p { padding:0; margin:0; line-height:140%;}
		.ss2_wrapper .slideshow_box .data a { color:#fff; }
		

/** CSS For slideshow ends Here **/


/** book button css**/
.buy-button-box {
background-color: rgb(229, 68, 32);
padding: 12px;
width: 86px;
border-radius: 15px;
float: right;
margin-right: 15px;
margin-bottom: 15px;
}
.button-text
{
color: white;
font-family: cursive;
font-stretch: condensed;
font-weight: bold;
}

.tooltip{
    display: inline;
    position: relative;
}