a:hover{background:#921a1e;}
tbody th, tfoot th, td {border:none;}
table.cols-3{width:100%;}
table.cols-3 td {width:33%;}
table.cols-3 tr {border-bottom:1px solid #eee;}
table.cols-3 tr:last-child{border-bottom:none;}
#featured-shows{overflow: hidden;clear: both;}
.region{width:100%;padding:0px;}
.submitted{display:none;}
.field-label{display:none;}
.node-title{margin-bottom:10px !important;}
#quick-search-form input.form-autocomplete{background-image:none !important;}
#quick-search-form #autocomplete{z-index:99999;}
#edit-submit {background:#921a1e;color:#FFF;}
/*Start For Home Page*/
@media(min-width:769px){#logo{height: 50px;margin-top: 10px;top: 0;width: 260px;}}
#content-container{float:left;width:100%;padding-bottom:20px;}
.quick-guide{float:left;margin-right:38px;}
.quick-guide input, .quick-guide p{margin-bottom:10px;}
.quick-guide p{font-size:15px;font-family:Arial}
.image-cycle{float:left;width:77%}
#list-shows{clear:both;float:left;width:100%;margin-top:15px;}
#list-shows ul{float:left;width:100%;margin-bottom:0px;}
#list-shows li {float:left;width:16.40%;border:1px solid;text-align:center;margin-bottom:0px;}
#list-shows:after{clear:both;}
#latest-shows{float:left;padding-top:10px;}
.show-images{float:left;width:31%;padding-right:28px;margin-bottom:10px;}
.show-images img{border:1px solid;}
.last-ref{padding-right:0px;}
/*End For Home page*/

/*For Listing page*/
.list-name{font-weight: bold;color:#921a1e;text-transform: uppercase;}
.box{border:1px solid black;padding:10px;border-radius:5px;margin-bottom:10px;float:left;width:100%}
.box-2{border:1px solid #eee;border-top:none;padding:10px;margin-bottom:10px;float:left;width:100%;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}
.title-box{background: #eee;padding: 10px;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom:1px solid #FFF;}
.title-box h2{float:left;margin:0px;}
.list-container{float:left;padding-bottom:10px;border-bottom:1px dotted;width:100%}
.list-container:last-child{border-bottom:none;}
.info-name{float:left;width:28%;margin-right:13px;margin:10px 0 5px;}
.info-name p{font-size:16px;font-weight:bold;margin-bottom:10px;}
.time-info{float:left;width:67%;padding-left:10px;}
.tool-tip{float:left;margin:10px 0 5px;}
.tool-tip .tool-tip-info{float:left;padding-right:18px;width:60px;}
.more-info-detail{display:none;}
.more-info-detail:first-child{display:block;}
/*End For Listing Page*/

/*For Detail Page*/
.image-left{float:left;width:25%;margin-right:10px;}
.info{float:left;width:72%;}
.info ul li{float:left;}
.info ul li:nth-child(odd) {width:15%;font-weight:bold}
.info ul li:nth-child(even) {width:85%}
/* .info ul li:last-child {width:85%} 
.more-link{text-align:right;}*/
/*End For Detail Page*/


/*Changes for the view file*/
ul.quicktabs-tabs.quicktabs-style-sky {
	overflow:hidden;
}
ul.quicktabs-tabs.quicktabs-style-sky li.active {
	margin-top: 4px;
}
ul.quicktabs-tabs.quicktabs-style-sky li{
	width:20%;
	text-align: center;
}
ul.quicktabs-tabs.quicktabs-style-sky li.active a, ul.quicktabs-tabs.quicktabs-style-sky li.active a:visited {
	float : none;
	border-color:2px solid #737373;
        font-weight: bold;
        text-align: center;
        font-size: 20px;
        margin-top: -15px;
				border-top: 3px solid #e74c3c;
        /*color:#921a1e;
        background:#1e1e1e;*/
}
ul.quicktabs-tabs.quicktabs-style-sky li a, ul.quicktabs-tabs.quicktabs-style-sky li a:visited {
	float:none;
        font-size:16px;
        margin-top:-6px;
        /*color:#921a1e;*/
        
}
ul.quicktabs-tabs.quicktabs-style-sky li a {
border-right: 2px solid #737373;
}
ul.quicktabs-tabs.quicktabs-style-sky li.last a {
border-right: none;
}
/*ul.quicktabs-tabs.quicktabs-style-sky li a:hover, ul.quicktabs-tabs.quicktabs-style-sky li.active a:hover {
	background:#1e1e1e;
        color:#921a1e;
}*/

.view-content .views-field-field-show-input header {
display:none;
}
.button {
margin:0;
}
.button a{
text-transform: uppercase;
display: inline-block;
text-align: center;
font-size: 20px;
font-size: 19px;
font-family: "Swiss721CondensedBold", Arial, Helvetica, sans-serif;
border: 0;
padding: .7em;
cursor: pointer;
padding-left: 43px;
padding-right: 43px;
margin-right: 0px;
}
.button--primary a{
color: #fff;
background: #d64937;
text-shadow: 1px 1px 2px #d64937;
background: -moz-linear-gradient(top, #d64937 0%, #d64937 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d64937), color-stop(100%, #d64937));
background: -webkit-linear-gradient(top, #d64937 0%, #d64937 100%);
background: -o-linear-gradient(top, #d64937 0%, #d64937 100%);
background: -ms-linear-gradient(top, #d64937 0%, #d64937 100%);
background: linear-gradient(top, #d64937 0%, #d64937 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d64937', endColorstr='#d64937',GradientType=0 );
}

.button--primary a:hover {
background: -moz-linear-gradient(top, #d64937 0%, #d64937 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d64937), color-stop(100%, #d64937));
background: -webkit-linear-gradient(top, #d64937 0%, #d64937 100%);
background: -o-linear-gradient(top, #d64937 0%, #d64937 100%);
background: -ms-linear-gradient(top, #d64937 0%, #d64937 100%);
background: linear-gradient(top, #d64937 0%, #d64937 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d64937', endColorstr='#d64937',GradientType=0 );
text-decoration: none;
}


.views-field-field-show-input:hover {
opacity: 0.6;
}
.views-field-field-show-input-2 {
position:relative;
bottom:30px;
left:0px;
visibility:hidden;
background-color: black;
color: white;
height: 150px;
top: -158px;
text-align: center;
margin-bottom: -132px;
}
body, #content{
background: #c0c0c0;
}
#content {
	background: white;
}
.container {
background: white;
padding-left: 20px;
padding-right: 20px;
}
#header {
background: white;
height:130px;
/*z-index: 9999;*/
}
#header_fields .newsticky {
position: fixed;
top:0;
z-index: 9999;
width: 71%;
}
#header_fields {
height:130px;
}

#add_region img{
width:961px;
height:100px;
}
.google_search {
float: right;
margin-top: 14px;
}
.main_menu {
float: left;
display: inline-block;
}

/*footer menu*/
#footer {
background: #ddd;
}
.footer .links {
float: left;
padding: 20px 30px 20px 20px;
}
#edit-submit {
background:url('images/search.png');
}