/**
 * @file
 * Main stylesheet for Date module.
 */

/* Force start/end dates to float using inline-block, where it works, otherwise inline. */
.container-inline-date {
  clear: both;
}
.container-inline-date .form-item {
  float: none;
  margin: 0;
  padding: 0;
}
.container-inline-date > .form-item {
  border: 1px #dedede solid;
  display: inline-block;
  margin-right: 0.5em; /* LTR */
  margin-bottom: 10px;
  vertical-align: top;
}
.views-exposed-form .container-inline-date > .form-item {
  border:none;
}
.container-inline-date .form-item .form-item {
  float: left; /* LTR */
}
.container-inline-date .form-item,
.container-inline-date .form-item input {
  width: auto;
}
.container-inline-date .description {
  clear: both;
}

.container-inline-date .form-item input,
.container-inline-date .form-item select,
.container-inline-date .form-item option {
  margin-right: 5px; /* LTR */
}

.container-inline-date .date-spacer {
  margin-left: -5px; /* LTR */
}

.views-right-60 .container-inline-date div {
  margin: 0;
  padding: 0;
}

.container-inline-date .date-timezone .form-item {
  clear: both;
  float: none;
  width: auto;
}

/* The exposed Views form doesn't need some of these styles */
.container-inline-date .date-padding {
  padding: 10px;
  float: left;
}
.views-exposed-form .container-inline-date .date-padding {
  padding: 0;
}

/* Fixes for date popup css so it will behave in Drupal */
#calendar_div,
#calendar_div td,
#calendar_div th {
  margin: 0;
  padding: 0;
}
#calendar_div,
.calendar_control,
.calendar_links,
.calendar_header,
.calendar {
  border-collapse: separate;
  margin: 0;
  width: 185px;
}

.calendar td {
  padding: 0;
}

/* formatting for start/end dates in nodes and views */
span.date-display-single {
}
span.date-display-start {
}
span.date-display-end {
}

.date-prefix-inline {
  display: inline-block;
}

.date-views-filter-wrapper {
  min-width: 250px;
}
.date-views-filter input {
  float: left !important; /* LTR */
  margin-right: 2px !important; /* LTR */
  min-width: 12em;
  padding: 0 !important;
  width: 12em;
}

/* Give the navigation bar a little extra padding below so it will clear the new contextual links overlay of the teasers below it. */
.date-nav {
  clear: both;
  padding-bottom: 1.5em;
  width: 100%;
}
.date-nav div.date-prev {
  float: left; /* LTR */
  text-align: left; /* LTR */
  width: 24%;
}
.date-nav div.date-next {
  float: right; /* LTR */
  text-align: right; /* LTR */
  width: 24%;
}
.date-nav div.date-heading {
  float: left; /* LTR */
  text-align: center;
  width: 50%;
}
.date-nav div.date-heading h3 {
  margin: 0;
  padding: 0;
}

.date-clear {
  clear: both;
  display: block;
  float: none;
}

.date-no-float {
  clear: both;
  float: none;
  width: 98%;
}

.date-float {
  clear: none;
  float: left;
  width: auto;
}

/* Add space between date option checkboxes ('All day' & 'Collect End Date') */
.date-float .form-type-checkbox{
  padding-right: 1em;
}

/* Add space between the date and time portions of the date_select widget. */
.form-type-date-select .form-type-select[class$=hour] {
  margin-left: .75em; /* LTR */
}

.date-container .date-format-delete {
  float: left;
  margin-top: 1.8em;
  margin-left: 1.5em;
}
.date-container .date-format-name {
  float: left;
}
.date-container .date-format-type {
  float: left;
  padding-left: 10px;
}

.date-container .select-container {
  clear: left;
  float: left;
}

/* Calendar day css */
div.date-calendar-day {
  background: #F3F3F3;
  border-top: 1px solid #EEE;
  border-left: 1px solid #EEE;
  border-right: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  color: #999;
  float: left;
  line-height: 1;
  margin: 6px 10px 0 0;
  text-align: center;
  width: 40px;
}

div.date-calendar-day span {
  display: block;
  text-align: center;
}
div.date-calendar-day span.month {
  background-color: #B5BEBE;
  color: white;
  font-size: .9em;
  padding: 2px;
  text-transform: uppercase;
}
div.date-calendar-day span.day {
  font-size: 2em;
  font-weight: bold;
}
div.date-calendar-day span.year {
  font-size: .9em;
  padding: 2px;
}

/* Admin styling */
.form-item.form-item-instance-widget-settings-input-format-custom,
.form-item.form-item-field-settings-enddate-required {
  margin-left: 1.3em;
}

#edit-field-settings-granularity .form-type-checkbox {
  margin-right: .6em; /* LTR */
}

.date-year-range-select {
  margin-right: 1em;
}

.field-widget-date-select .form-item.form-type-date-select > label,  .field-widget-date-popup .form-item.form-type-date-popup > label{
  margin-top: 0.5em;
  padding-left: 10px;
  margin-bottom: -10px;
  text-transform: uppercase;
}